language: cpp

branches:
  only:
    - master
    - /^fidoroute-.*/
matrix:
  fast_finish: true
  include:
  - os: linux
    env:
    - MATRIX_EVAL="CXX=g++" ARCH="x86_64"
  - os: linux
    env:
    - MATRIX_EVAL="CXX='g++ -m32'"
      PACKAGES="gcc-multilib lib32z1-dev" ARCH="i686"
  - os: osx
    env:
    - MATRIX_EVAL="CC=g++" ARCH="x86_64"
  - os: osx
    env:
    - MATRIX_EVAL="CC='g++ -m32'" ARCH="i686"
before_install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get install -y rpm; fi
  - if [ -n "$PACKAGES" ]; then travis_retry sudo apt-get install --no-install-recommends
    --no-upgrade -qq $PACKAGES; fi
script:
  - eval "${MATRIX_EVAL}"
  - mkdir build
  - cd build
  - cmake .. -DCPACK_DEBIAN_PACKAGE_MAINTAINER=travis-ci
  - cmake --build .
  - cpack
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then cpack -G RPM; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then cpack -G DEB; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then for file in *.rpm; do mv $file
    $(basename $file .rpm).${ARCH}.rpm; done; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then for file in *.deb; do mv $file
    $(basename $file .deb).${ARCH}.deb; done; fi
  - for file in *.tar.gz; do mv $file $(basename $file .tar.gz).${ARCH}.tar.gz;
    done
deploy:
  provider: releases
  api_key: $GITHUB_OAUTH_TOKEN
  file_glob: true
  skip_cleanup: true
  file: 
    - $TRAVIS_BUILD_DIR/build/*.rpm
    - $TRAVIS_BUILD_DIR/build/*.deb
    - $TRAVIS_BUILD_DIR/build/*.tar.gz
  on:
    tags: true
    branch: master
